:root {
  --purple: #8c38ff;
  --lightgrey: #eeeeee;
  --gold: #ffd700;
  --eggshell: #f0ead6;
  --black: #000000;
  --copper: #ffcb9a;
  --aqua: #5ab9ea;
  --orange: #ea8b5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}



/*  Nav bar and Menu code*/
.main-container  {
position: relative;
top: 100px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: var(--aqua);
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 3px;
  text-transform: uppercase;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 99;
  background-color: var(--lightgrey);
  padding: 14px 28px;
  border-bottom: 5px solid var(--orange);
}
.hamburger {
  display: block;
  position: relative;
  z-index: 1;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background-color: var(--copper);
  border-radius: 6px;
  z-index: 1;

  transform-origin: 0 0;
  transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
  transform: translateX(-10px);
  background-color: var(--aqua);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
  background-color: var(--aqua);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translate(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
  background-color: var(--aqua);
}

.menu {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}

.menu a {
  color: var(--aqua);
  margin: 0 16px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.4s;
  padding: 8px 16px;
  border-radius: 99px;
}

.menu a.is-active,
.menu a:hover {
  background-color: var(--copper);
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .menu {
    display: flex;
  }
  
}

/*  products page code*/

.allitems{
   text-align: center;
    width: 70%;
    margin: 16px auto;
}
.items{
  margin: 40px;
  position: relative;
}

.maintitle{
  color: #d36d0e;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    font-family:  sans-serif;
    padding: 11px;
    
}

.itemtitle{
  font-size: 40px;

}


.tshirt{
  position: relative;
  width: 100%;
}

.tshirtthings{
   padding: 30px 9px 32px 9px;
   background: rgb(241, 240, 240);

}

.text{
  position: relative;
  left: 220px;
  font-size: 16px;
  text-align: center;
  width: 55%;
}

.tshirtpic{
  position: relative;
  right: 30px;
  top: -40px;
  width: 200px;
    height: 200px;
 padding: 20px;
 
  margin: 0 auto;
}

.itemname{font-family: "Fira sans", sans-serif;
  background: rgb(241, 240, 240);
align-items: center;
}
.price{
  background: rgb(247, 247, 247);
}

.information{
  position: relative;
background: white;
  font-size: 16px;
}
.productname{
  color: black;
  display: block;
  font-size:16px;
  font-weight: bold;
  background: rgb(247, 247, 247);
}
.itemtitle{
  background: rgb(247, 247, 247);
}


.maincontainer  {
  position: relative;
  top: 60px;
  margin: 0 auto;
  height: 100vh;
width: 100%;
  background-color: orange;
  display: flex;
  
}
/*  indivual item  page code*/

.col1,.col2{
  flex-basis: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.col1{
padding: 9%;
}

.col1 p{
  font-size: 28px;
  }

.col2{
  background-color: lightcyan;
}
.producttitle{
  color: black;
  font-size: 74px;
  line-height: 100px;
  margin-bottom: 5px;
}
.itemprice{
  font-size: 60px;
}

button{
width: fit-content;
border: none;
font-size: 13px;
padding: 10px 20px;
background-color: rgb(224, 224, 224);
cursor: pointer;
}

.pic{

  width: 100%;
  text-align: center;
}

.pic img{

  width: 70%;
}

#sizes{
  width:130px; 
 
 }

 /*  contact us  page code*/



.contact{
  position: relative;
  min-height: 80px;
  padding: 5px 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-color: black;
  top: 90px;
  width: 1450px;


}

.titlecu{

  color: #e07c09;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    font-family:  sans-serif;
    padding: 11px;
    
}



.infophone{
position: relative;
  line-height: 30px;
  color: black;
  
  padding: 5px 10px;
  top: -50px;
}

.infoadress{
position: relative;
top: -120px;
left: 500px;
line-height: 30px;
color: black;

padding: 5px 10px;
}


.infoemail{
top: 10px;
position: relative;
right: 500px;
line-height: 30px;
color: black;

padding: 5px 10px;
}



.logoemail{
width: 100px;
height: 100px;
position: relative;
right: 500px;
top: 170px;
}



  .logophone{
    width: 100px;
    height: 100px;
    position: relative;
    
    top: -40px;
    }
    
    .logoadress{
      width: 100px;
      height: 100px;
      position: relative;
      left: 500px;
      top: 65px;
      }





